modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3002

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:1.0.0", "javascript_mem_db:1.0.0", "javascript_log_in_with_replit:1.0.0", "stripe:1.0.0", "javascript_gemini_ai_integrations:1.0.0", "javascript_anthropic_ai_integrations:1.0.0", "perplexity_v0:1.0.0"]

[userenv]

[userenv.shared]
TTS_PRIMARY_PROVIDER = "google"
CARTESIA_PRONUNCIATION_DICT_IDS = "{\"spanish\":\"pdict_6PLDfmxcwFMXcNzupDAtGN\",\"french\":\"pdict_bH9XV8ysTebsn7NGkQTRVR\",\"german\":\"pdict_x7RvPGuw4MDAgrXmFbuscG\",\"italian\":\"pdict_hzt7xBGNNwTJmPw8T7mVj2\",\"portuguese\":\"pdict_rBkocHMkYSYbFVcnopCqam\",\"japanese\":\"pdict_dZE2eKzRRt71JDoL6XYMvm\",\"mandarin chinese\":\"pdict_VH25Wo8GMJ2GMtEDU8CdWY\",\"korean\":\"pdict_5fsZLioheLeUoJ17TXzSob\"}"
APP_NAME = "HolaHola"
APP_URL = "https://getholahola.com"
FROM_EMAIL = "noreply@getholahola.com"
COMPASS_ENABLED = "true"
DEEPGRAM_MODEL = "nova-3"
DEEPGRAM_INTELLIGENCE_ENABLED = "true"

[userenv.development]
SYNC_PEER_URL = "https://getholahola.com"
NEON_STRICT_MODE = "true"

[userenv.production]
SYNC_PEER_URL = "https://3ca2376d-c3dc-490a-a375-6b2f97f7c281-00-i0c3jqj8bdra.janeway.replit.dev"
NEON_STRICT_MODE = "true"
